H2Z4X3_1122/studentH2Z4X3.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class">
    <xs:complexType>

      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>

            <xs:sequence>
              <xs:element name="keresztnév" type="xs:string" />
              <xs:element name="vezetéknév" type="xs:string" />
              <xs:element name="becenév" type="xs:string" />
              <xs:element name="kor" type="xs:int" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
          
        </xs:element>
      </xs:sequence>
    </xs:complexType>

  </xs:element>
</xs:schema>