H2Z4X3_1004/orarend_dtd_v2.dtd

<!ELEMENT H2Z4X3_orarend (ora*)>

<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ATTLIST ora id ID #REQUIRED>
<!ATTLIST ora tipus (elmélet|gyakorlat) #REQUIRED>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol,ig)>
    <!ELEMENT nap (#PCDATA)>
    <!ELEMENT tol (#PCDATA)>
    <!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>